<!DOCTYPE html>
<html>
  <head>
    <title>Proj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
        <%= render 'layouts/header' %>
    </header>

	<div class="notifications">	
		<p class="notice"><%= notice %></p>
	    <p class="alert"><%= alert %></p>
	</div>
  
 <div id="main_content" class= "container">

  <div id="content" class="col-md-9 center-block">

    <%= yield %>
    
  </div>

 </div>
    
    
  </body>
</html>
