<!DOCTYPE html>
<html>
    <head>
        <title>Proj</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>

        <header>
            <%= render 'layouts/header' %>
        </header>

        <%= render 'layouts/flash' %>

        <div id="main_content" class="container">
            <div id="content" class="col-md-9 center-block">
                <%= yield %>
            </div>

        </div>

        <script type="text/javascript">
        $('.link').each(function(index){
        	if (localStorage['favourite' + index] == 'fave') {
        		$(this).addClass('fave');
        	}
        });
        </script>
    </body>
</html>
