<%= form_for ([current_user, link]) do |f| %>
<div class="form_group">
	<%= f.label :title %>
	<%= f.text_field :title, class:"form-control"%>
</div>

<div class="form_group">
	<%= f.label :url %>
	<%= f.text_field :url, class:"form-control" %>
</div>

<div class="form_group">
	<%= f.label "Tags" %>
	<%= f.text_field :all_tags, placeholder: "Insert tags eg: trial, ruby...", class:"form-control" %>
</div>
<%= f.submit class: "btn btn-secondary"%>

<% end %>
